
@model my_project.Models.member
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.7.1.intellisense.js"></script>
<script src="~/Scripts/jquery-1.7.1.js"></script>
<script src="~/Scripts/jquery-ui-1.8.20.js"></script>
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.8.20.min.js"></script>
<script src="~/Scripts/jquery.min.js"></script>
<a href="~/Scripts/jquery-1.11.1.min.map">~/Scripts/jquery-1.11.1.min.map</a>
<link href='http://fonts.googleapis.com/css?family=Allura' rel='stylesheet' type='text/css'/>
<script src="~/Scripts/jquery-1.7.1.js"></script>   
<div class="top"></div>
<div class="wrapper">
	<div class="logo"><div class="logo_text"><h1>Our</h1><h2>Memories</h2></div></div>
	<div class="nav fl">
			<ul>
			<li class="selected"><a href="~/Home/Index" >Home</a></li>
                </ul>
			<br />        
		</div>
		<div class="sep2"></div>
		<div class="clear"></div>				
	<!--<div class="special_sep"></div>	-->	
	 <div class="columnRight" style="padding-left: 40px">
         <div class ="selected" size="30" ><h6> Sign-up to start </h6> </div>						                			               
    <!--Form------------------------------------------------------------------->
         @using (Html.BeginForm("save", "Accounts", FormMethod.Post))
         {                           
             <label style="font:large">Full Name</label><br />             
             @Html.TextBoxFor(x => x.name, new { placeholder = "Enter Full Name", size = "30",id="name" });
             @Html.ValidationMessageFor(x => x.name, String.Empty, new { @style = "color:red;!important" });
                <input type="button" id="b1" value="Check Availability" />
                <div id="result"></div>
            @Scripts.Render("~/bundles/jquery")
            <script>
                $(document).ready(function () {

                    $('#checking').hide();

                    $('#b1').click(function () {

                        var uname = $('#name').val();                        
                        $('#checking').show();

                        $.getJSON("../Accounts/checkUserName?u=" + uname, function (data){
                            $('#checking').hide();                            
                            if (data) {
                                $('#result').text("User Name is available");
                            }
                            else {
                                $('#result').text("User already exists in database");
                            }
                        });

                    });

                });
            </script>                     
             <br/>                        
            <label for="user_email">Email *</label>
             @Html.ValidationMessageFor(x => x.email,String.Empty, new { @style = "color:red;!important" });<br />
            <input class="mediumTextbox" id="e1" name="email" size="30" placeholder="Enter Email" type="text" />          
            <br />              
             
                <!--gender-->
             <br />
          <div class="field">
            <label for="user_gender">Gender</label><br />
            <input checked="checked" id="g1" name="gender" type="radio" value="male" /> Male
            <input id="g2" name="gender" type="radio" value="female" /> Female
          </div>
            <br />            
            <!--password-->
          <div class="field">
            <label for="user_password">Password *</label>
              @Html.ValidationMessageFor(x => x.password,String.Empty, new { @style = "color:red;!important" });<br />              
            <input class="mediumTextbox" id="p1" name="password" size="30" type="password" />
          </div>
             <br />
                    <div class="right">
          <div class="signup-hint-admin-user">
            <div>Account Owner</div>
            <div class="info">
              This term is applied to the person opening the account. As such you will assume responsibility for administering the account including deciding who to invite to join the Memory book and what privileges to assign each of those people. <br/><br/>               
            </div>
          </div>
        </div>     
             <br /> 
                 <div class="actions">
        <input class="submitBig submit" id="submit" name="commit" type="submit" value="start saving memories" />
        <span id="submitting_form" style="display:none;">Submitting form ..
        </span>
      </div>
         }                                                                                                                                       
  <!------------------------------------------------------------------------------------------->          			
			<div class="section_left fr">
			
			
			
			<div class="widget"><h3>Call me: 111-000-555</h3></div>
			<div class="widget_desc"><p><strong>Address: </strong>Duis aute  reprehenderit in voluptate velit esse cillum dolore eu</p></div>
			
				<div class="widget"><h3>Address</h3></div>
			<div class="widget_desc"><p>Duis aute  reprehenderit in voluptate velit esse cillum dolore eu</p></div>
			
					<div class="widget"><h3>Phone/Email</h3></div>
					<div class="widget_desc"><p>+99-111-333-444</p></div>
					<div class="widget_desc"><p>+99-323-323-444</p></div>
					<div class="widget_desc"><p>info@wbtemplates.com</p></div>
			
				<div class="sep"></div>
						
			</div>					

</div> <!--end of wrapper-->
<div class="clear"></div>
<div class="container">
<div class="shadow_big"></div>
	<div class="wrapper_inside">
			<div class="left_section fl">
			
			<div class="image_place fl"><img src="~/images/titlted_pic.png" align="our story" /></div>
			<div class="title fl"><h1>Our Story</h1></div>
			<div class="des2 fl"><h3>No matter how much suffering you went through, you never wanted to let go of those memories.</h3></div>
			<div class="des2 fl"><p>At vero eos ett harum quidem rerum facilis est et expedita dis excepturi animi, </p></div>
			<div class="sep"></div>
                </div>
        </div>
	
<div class="footer">
	<div class="wrapper">
	<div class="f_contents">
	<div class="title fl"><p><h6>Powered By Technocrates</h6></p></div><br />
	</div>
</div>
</div>
                </div>
                </div>
            </div>            

<script type="text/javascript">
		$(document).ready(function() {
			/*
			*   Examples - images
			*/

			$("a#example1").fancybox();

			$("a#example2").fancybox({
				'overlayShow'	: false,
				'transitionIn'	: 'elastic',
				'transitionOut'	: 'elastic'
			});

					$("a[rel=example_group]").fancybox({
				'transitionIn'		: 'none',
				'transitionOut'		: 'none',
				'titlePosition' 	: 'over',
				'titleFormat'		: function(title, currentArray, currentIndex, currentOpts) {
					return '<span id="fancybox-title-over">Image ' + (currentIndex + 1) + ' / ' + currentArray.length + (title.length ? ' &nbsp; ' + title : '') + '</span>';
				}
			});

			/*
			*   Examples - various
			*/

			$("#various1").fancybox({
				'titlePosition'		: 'inside',
				'transitionIn'		: 'none',
				'transitionOut'		: 'none'
			});

			$("#various2").fancybox();

			$("#various3").fancybox({
				'width'				: '75%',
				'height'			: '75%',
				'autoScale'			: false,
				'transitionIn'		: 'none',
				'transitionOut'		: 'none',
				'type'				: 'iframe'
			});

			$("#various4").fancybox({
				'padding'			: 0,
				'autoScale'			: false,
				'transitionIn'		: 'none',
				'transitionOut'		: 'none'
			});
		});
	</script>

